<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hlk.com.mystudyandroidtest">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.RecyclerDemoActivity" />
        <activity android:name=".ui.RecyclerMoreItemActivity" />
        <activity android:name=".ui.ServiceDemoActivity" />
        <activity android:name=".ui.customerview.SpeedIndexActivity" />
        <activity android:name=".ui.CustomerViewActivity" />
        <activity android:name=".ui.OkHttpDemoActivity" />
        <activity android:name=".ui.BroadcastDemoActivity" />
        <activity android:name=".ui.RxJavaDemoActivity"/>
        <activity android:name=".ui.RetrofitDemoActivity"/>
        <!--友盟-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58aaa8945312dd998600184e" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="suibianlai" />


        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".broadcast.MyBroadcastReceiver">
            <!--priority 广播优先级-->
            <intent-filter android:priority="100">
                <!--开机广播-->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.My_BROADCAST"/>
                <action android:name="android.intent.action.My_ORDERED_BROADCAST"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>