<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hlk.com.mystudyandroidtest">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.recycler.RecyclerDemoActivity" />
        <activity android:name=".ui.recycler.RecyclerMoreItemActivity" />
        <activity android:name=".ui.service.ServiceDemoActivity" />
        <activity android:name=".ui.customerview.SpeedIndexActivity" />
        <activity android:name=".ui.uiview.CustomerViewActivity" />
        <activity android:name=".ui.okhttp.OkHttpDemoActivity" />
        <activity android:name=".ui.brodcast.BroadcastDemoActivity" />
        <activity android:name=".ui.rxjava.RxJavaDemoActivity" />
        <activity android:name=".ui.retrofit.RetrofitDemoActivity" />
        <activity android:name=".ui.mediaplayer.MediaPlayerDemoActivity" />
        <activity android:name=".ui.rxjava.RxJavaAndRetrofitDemoActivity" />
        <activity android:name=".ui.mediaplayer.MusicDemoActivity" />
        <activity android:name=".ui.mediaplayer.MediaImageDemoActivity" />
        <activity android:name=".ui.mediaplayer.MediaPhotoAlbumDemoActivity" />
        <activity android:name=".ui.mediaplayer.CameraDemoActivity" />
        <activity android:name=".ui.mediaplayer.PhotoProcessDemoActivity" />
        <activity android:name=".ui.mediaplayer.AudioDemoActivity" />
        <activity android:name=".ui.mvpdemo.view.MVPDemoActivity">
            <intent-filter>
                <data
                    android:host="ground"
                    android:path="/hao"
                    android:port="8888"
                    android:scheme="hlk" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.mvpdemo.view.MainSuccessActivity" />
        <activity android:name=".ui.scheme.SchemeDemoActivity" />
        <activity android:name=".ui.annotation.AnnotationDemoActivity" />
        <activity android:name=".ui.socketdemo.ClientActivity" />
        <activity android:name=".ui.anmimationdemo.AnimationActivity" />
        <!--新UI demo-->
        <activity android:name=".ui.newuimode.NewAnyUIActivity"
            android:theme="@style/AppTheme.NoAction"
            />
        <activity
            android:name=".ui.uiview.CallaperingDemoActivity"
            android:theme="@style/colling" />
        <!--友盟-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58aaa8945312dd998600184e" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="suibianlai" />

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" />
        <service android:name=".service.MyIntentService" />

        <receiver android:name=".broadcast.MyBroadcastReceiver">

            <!-- priority 广播优先级 -->
            <intent-filter android:priority="100">

                <!-- 开机广播 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.My_BROADCAST" />
                <action android:name="android.intent.action.My_ORDERED_BROADCAST" />
            </intent-filter>
        </receiver>

    </application>

</manifest>